<h3>Hello Martin!</h3>
<h2> What do you want to do?</h2>
<ul>
	<li>
<div class="xlarge primary btn icon-left entypo icon-pencil">
	<a href="#/journalist/facts/create">Create New History</a>
</div>
</li>
<li>
<div class="xlarge secondary  btn icon-left entypo icon-check">
	<a href="">Validate  Facts</a>
</div>
</li>
<li>
<div class="xlarge success btn icon-left entypo icon-check">
	<a href="">Validate Members</a>
</div>
</li>

<li>
<div class="xlarge info btn icon-left entypo icon-plus">
	<a href="">Suggests Members</a>
</div>
</li>