<div class='medium primary btn'><a href="#/feed"><i class='icon-left-thin'></i>Back</a></div>

<div class='container'>
    <div class='article-image'>
        <h2>Griesa llamó a una nueva audiencia en Nueva York</h2>
        <div class='hecho'>
            <div class='que'>
                <span class='parte'><i class='icon-info'></i></span> 
                <strong>Griesa convocó nueva audicencia</strong> by Juana Chana
            </div>
            <div class='cuando'>
                <span class='parte'><i class='icon-clock'></i></span>29 de Agusto, 2014
            </div>
            <div class='donde'>
                <span class='parte'><i class='icon-map'></i></span>New York, USA.
            </div>
        </div>
    </div>
</br>
    <div class='text'> 
"Que lo diga el Gobierno, los tribunales norteamericanos se siguen moviendo para que se cumpla el fallo a favor que obtuvieron los llamados ""fondos buitre"".

Por un lado, el juez Thomas Griesa citó a nueva audiencia entre las partes para el 10 de septiembre. Será la primera que sostiene el magistrado luego de que el Congreso iniciara, el miércoles pasado, el tratamiento para aprobar un proyecto de ley que permitirá al país pagar los bonos de deuda fuera de Nueva York y así burlar las disposiciones del juez.

Por el otro, los fondos demandantes presentaron ayer una durísima réplica en la que acusan al Gobierno de ""hacer trampa"" en su intento de lograr que la Corte de Apelaciones de Nueva York tome de nuevo cartas en el asunto. La Corte de Apelaciones fijó para el 18 del mes próximo una ""audiencia urgente"" para decidir sobre pedidos del Citibank y del gobierno argentino para permitir que, de ahora en adelante, los bonos de deuda en dólares, pero pagaderos en el país, no queden incluidos en las disposiciones de Griesa.

Será la primera vez que la Corte de Apelaciones vuelve a entender en el caso argentino. Y si bien lo hace en un aspecto parcial, hay quienes ven en la posibilidad un intento de la Argentina por acotar los alcances del fallo en contra que dejó firme la Corte Suprema.

Por lo pronto, firmado por Roy Englert, abogado del fondo Aurelius, el escrito, al que tuvo acceso La Nacion, no sólo carga contra el Gobierno ""y sus maniobras"". También apunta al Citibank de la Argentina, al que reprocha ""no tener las manos limpias"" por ponerse ""del lado de los que burlan la ley"" y pretender luego que la justicia norteamericana ""lo ampare por las consecuencias de esas elecciones"".

""Si [el Citibank] se queda sin licencia para operar en la Argentina es su responsabilidad"" por haber elegido ""hacer negocios"" con quienes ""no respetan la ley"", dicen los fondos demandantes. Sin ir tan lejos, el escrito de los buitres se encarga de sembrar alguna duda sobre la petrolera española Repsol. Sobre ella se pregunta ""qué la llevó a aceptar"" como pago por la nacionalización de sus activos en YPF bonos que podrían ser objeto de litigio judicial ante los tribunales norteamericanos."
    </div>
</div>
</br>
<div> 
<div class="xlarge primary btn icon-left entypo icon-star">
    <a href="#/journalist/facts/validate">Rate</a>
</div>
<div class="xlarge danger btn icon-left entypo icon-cancel">
    <a href="#/journalist/facts/validate">Blame</a>
</div>
<div class="xlarge twitter btn icon-left entypo icon-twitter">
    <a href="#/journalist/facts/validate">Tweet this history</a>
</div>

</div>



<style type="text/css">
 .container {
        margin-left: 5px;
    }

    .hechos {
        margin-left: 5px;
        font-size: 20px;
        border-bottom: line;
    }

    .parte {
        font-size: 30px;
    }

    .article-image {
        /*height: 300px;*/
        width: 100%;
        background-size: cover;
    }

    .que.parte {
        color: #2D9887;
    }

    .text {
        width: 900px;
    }

    .btn {
        padding-right: 5px;
    }   
</style>