<div class='medium primary btn'><a href="#/main"><i class='icon-left-thin'></i>Back</a></div>
<h1>Inflación</h1>

<div class='article-container'>
    <a href="#/detail" style="background-image:url('/images/photo/griesa.jpg');" class='articulo'>
        <span class='titulo'>Griesa llamó a una nueva audiencia en Nueva York</span>
    </a>
    <a href="#/detail" style="background-image:url('/images/4GbFk.jpg');" class='tall articulo'>
        <span class='titulo'>Los Fondos Buitre</span>
    </a>
    <a href="#/detail" style="background-image:url('/images/4GbFk.jpg');" class='articulo'>
        <span class='titulo'>Como Reestructuró La Deuda Argentina?</span>
    </a>
    <a href="#/detail" style="background-image:url('/images/4GbFk.jpg');" class='articulo'>
        <span class='titulo'></span>
    </a>
    <a href="#/detail" style="background-image:url('/images/4GbFk.jpg');" class='articulo'>
        <span class='titulo'></span>
    </a>
    <a href="#/detail" style="background-image:url('/images/4GbFk.jpg');" class='articulo'>
        <span class='titulo'></span>
    </a>
    <a href="#/detail" style="background-image:url('/images/4GbFk.jpg');" class='articulo'>
        <span class='titulo'></span>
    </a>
    <a href="#/detail" style="background-image:url('/images/4GbFk.jpg');" class='articulo'>
        <span class='titulo'></span>
    </a>
</div>

<style type="text/css">
    .article-container {
        /*width: 500px;*/
        margin-left: 5px;
    }

    .articulo {
        background-size: cover;
        height: 300px;
        background-color: #CCC;
        margin-bottom: 10px;
        width: 495px;
        padding: 10px;
    }

    .articulo.tall {
        height: 610px;
    }

    .titulo {
        font-size: 30px;

    }
</style>