<div class="masonry">
    <a href="#/feed" style="background-image:url('/images/photo/griesa.jpg');" class="item">
        <span class='tema'>Inflation</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/gimnasia.jpg');" class="item">
        <span class='tema'>Gimnasia</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/satelite.jpg');" class="wide item">
        <span class='tema'>Technology</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/tiroteo.jpg');" class="tall item">
        <span class='tema'>Conflictos Sociales</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/tenis.jpg');" class="tall item">
        <span class='tema'>US Open</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/basket.jpg');" class="item">
        <span class='tema'>Basket</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/barco.jpg');" class="item">
        <span class='tema'>Gente Perdida</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/griesa.jpg');" class="item">
        <span class='tema'>Inflation</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/gimnasia.jpg');" class="item">
        <span class='tema'>Gimnasia</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/satelite.jpg');" class="wide item">
        <span class='tema'>Technology</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/tiroteo.jpg');" class="tall item">
        <span class='tema'>Conflictos Sociales</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/tenis.jpg');" class="tall item">
        <span class='tema'>US Open</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/basket.jpg');" class="item">
        <span class='tema'>Basket</span>
    </a>
    <a href="#/feed" style="background-image:url('/images/photo/barco.jpg');" class="item">
        <span class='tema'>Gente Perdida</span>
    </a>
</div>

<style type="text/css">
    .masonry {
        /*width: 500px;*/
        margin-left: 5px;
    }

    .item {
        background-size: cover;
        width: 245px;
        height: 245px;
        background-color: #CCC;
        margin-bottom: 5px;
        padding: 10px;
    }

    .item.wide {
        width: 495px;
    }

    .item.tall {
        height: 495px;
    }

    .tema {
        bottom: 0px;
        font-size: 30px;
    }
</style>