<div class="row">
  <div class="centered ten columns">
     <h1> <strong>2nite</strong> </h1>
     <h2> What's on your city?</h2>
    <div class="row">
      <div class="centered ten columns">
          <div class="medium primary btn">
            <a href="#/home">Check in now!</a>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="centered ten columns">
          <div class="medium success btn">
            <a href="#/tracks">Record your flyer</a>
          </div>
        </div>
      </div>
    </div>
</div>
