<h3> Write your article </h3>
<h4> {{what}} </h4>
<h5> {{when}} | {{where}}</h5>

<ul>
  <li class="field">
  	<input class="xxwide text input" ng-model="title"
  	 type="text" placeholder="Title" />
  </li>
<li class="field">
    <textarea class="input textarea" rows="5" placeholder="Textarea"></textarea>
  </li>
  <li class="field">
  	<input class="xxwide text input" ng-model="img" 
  	type="text" placeholder="Image" />
  	<img ng-src="img" src=""></img>
  </li>
 
</ul>

<div class="xlarge primary btn icon-left entypo icon-play">
	<a href="#/journalist/facts/validate">Publish !</a>
</div>
