<h1>Create Fact</h1>

<ul>
  <li class="field">
  	<input class="xxwide text input" ng-model="what"
  	 type="text" placeholder="What?" />
  </li>
  <li class="field">
  	<input class="xxwide text input" ng-model="where" 
  	type="text" placeholder="Where?" />
  </li>
  <li class="field">
  	<input class="xxwide text input" ng-model="when" 
  	type="text" placeholder="When?" />
  </li>
 
</ul>
<div class="xlarge primary btn icon-left entypo icon-pencil">
	<a href="" ng-click="next()">Compose Article</a></div>
  <div class="xlarge primary btn icon-left entypo icon-lamp">
  <a href="#/journalist/article/broadcast">Broadcast Article</a></div>
