<div class='medium primary btn'><a href="/#/feed"><i class='icon-left-thin'></i>Back</a></div>

<div class='container'>
    <div class='article-image' style="background-image:url('/images/4GbFk.jpg');">
        <h2>Dólar Oficial Contra Dólar Blue</h2>
        <div class='hecho'>
            <h3>Hecho:</h3>
            <div class='que'>
                <span class='parte'><i class='icon-info'></i></span> El Dolar Blue pasó 14 pesos por la primera vez
            </div>
            <div class='cuando'>
                <span class='parte'><i class='icon-clock'></i></span> en el 21 de Agusto, 2014
            </div>
            <div class='donde'>
                <span class='parte'><i class='icon-map'></i></span> en Argentina.
            </div>
        </div>
    </div>

    <div class='text'>ß¬∂˚fjasdlkfjas d;lfkajsd fa;lsdkjfa ;l˚∆åß …¬∂˚∆åß∂¬ß å¬∂∆åß ¬˚∆å
        å…¬ß˚∂∆ƒå…ß¬∂˚ƒ∆åß…∂¬ƒ˚∆åß∂¬…ƒ˚
        å∂ß¬∆ƒåß∂…¬ƒ˚∆åß∂…¬ƒ˚å∆
        ∑®œ∑´®˜∂√åˆ√å∂¬˚∆ƒåøˆ¨å…¬˚∆∑</div>
</div>

<style type="text/css">
    .container {
        margin-left: 5px;
    }

    .hechos {
        margin-left: 5px;
        font-size: 20px;
        border-bottom: line;
    }

    .parte {
        font-size: 30px;
    }

    .article-image {
        /*height: 300px;*/
        width: 100%;
        background-size: cover;
    }

    .que.parte {
        color: #2D9887;
    }

    .text {
        width: 900px;
    }

    .btn {
        padding-right: 5px;
    }
</style>