<h1>Fact Finder</h1>

<div class="masonry">
    <!-- <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="item {{tag.wideOrTall}}" ng-repeat="tag in tagList">
        <span class='tema'>{{tag.name}}</span>
    </a> -->
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="item">
        <span class='tema'>Inflation</span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="item">
        <span class='tema'>Technology</span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="wide item">
        <span class='tema'>Applications</span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="tall item">
        <span class='tema'>Violence</span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="tall item">
        <span class='tema'>Syria</span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="item">
        <span class='tema'>ISIS</span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="item">
        <span class='tema'></span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="tall item">
        <span class='tema'></span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="item">
        <span class='tema'></span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="item">
        <span class='tema'></span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="item">
        <span class='tema'></span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="item">
        <span class='tema'></span>
    </a>
    <a href="/#/feed" style="background-image:url('/images/4GbFk.jpg');" class="wide item">
        <span class='tema'></span>
    </a>
</div>

<style type="text/css">
    .masonry {
        /*width: 500px;*/
        margin-left: 5px;
    }

    .item {
        background-size: cover;
        width: 245px;
        height: 245px;
        background-color: #CCC;
        margin-bottom: 5px;
        padding: 10px;
    }

    .item.wide {
        width: 495px;
    }

    .item.tall {
        height: 495px;
    }

    .tema {
        bottom: 0px;
        font-size: 30px;
    }
</style>